<%= form_with model: @colglibrary, local: true do |form| %>
 
    <% if @colglibrary.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@colglibrary.errors.count, "error") %> prohibited
          this Library from being saved:
        </h2>
        <ul>
          <% @colglibrary.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

<p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
</p>
    
<p>
    <%= form.label :opening_time %><br>
    <%= form.datetime_field :opening_time %>
</p>
<p>
    <%= form.label :closing_time %><br>
    <%= form.datetime_field :closing_time %>
</p>
    
<p>
    <%= form.submit %>
</p>
<% end %>
